h1 {
  text-align: center;
  border-style: solid;
  border-color: gold;
  font-family: cursive;
}

p {
  text-align: center;
  color: gold;
  font-family: cursive;
}


body {
  background-color: gray;
}
img {
  border-width: thick;
  border-style: ridge;
  border-color: pink;

}

.center {
text-align: center;
}
.center1 {
  text-align: center;

}

[href] {
  color: gold;


}
